@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.bcalculator {
    width: 100%;
    min-width: 320px;
    height: auto;
    margin: 20px 15px;
    padding: 15px 30px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.bcalculator span,
.bcalculator input,
.bcalculator label {
    font-family: 'Montserrat';
    color: #121212;
}

.bcalculator .bcalculator__title {
    margin: 10px 0px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #12232E;
}

.bcalculator .bcalculator__info {
    margin: 10px 0px;
    font-family: 'Montserrat';
    font-weight: 400;
}

.bcalculator .bcalculator__form {
    width: 100%;
    margin: 15px 0;
}

.bcalculator .bcalculator__form-group {
    margin-bottom: 15px;
}

.bcalculator .bcalculator__form-input,
.bcalculator .bcalculator__form-select {
    width: 100%;
    padding: 15px;
    background-color: #e5e5e5;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    color: #121212;
    box-sizing: border-box;
}
.bcalculator .bcalculator__form-input:focus,
.bcalculator .bcalculator__form-input:active {
    border: 1px soldi lightblue;
}

.bcalculator .bcalculator__form-input:valid {
    border-bottom: 1px solid green;
}

.bcalculator .bcalculator__form-input--error {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: red;
}

.bcalculator .bcalculator__form-btn--submit {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
    background-color: #007CC7;
    border-radius: 5px;
    transition: .3s;
}

.bcalculator .bcalculator__form-btn--submit:hover {
    text-decoration: none;
    background-color: #203647;
    transition: .3s;
}

.bcalculator .bcalculator__form-btn--submit:disabled {
    background-color: #4DA8DA;
    cursor: not-allowed;
}

@media screen and (min-width: 421px) {
    .bcalculator .bcalculator__title {
        font-size: 30px;
    }

    .bcalculator .bcalculator__info {
        font-size: 24px;
    }

    .bcalculator .bcalculator__form-btn--submit {
        width: 200px;
    }
}

@media screen and (max-width: 420px) {
    .bcalculator .bcalculator__title {
        text-align: center;
        font-size: 24px;
    }

    .bcalculator .bcalculator__info {
        font-size: 20px;
    }

    .bcalculator .bcalculator__form-select {
        width: 100%;
    }

    .bcalculator .bcalculator__form-btn--submit {
        width: 100%;
    }
}